<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/styles.css">
  <script type="module" src="script/app.js"></script>
  <title>Schematic Cartography</title>
</head>

<body>
  <main>
    <article>
     
      
 <!-- scrolly -->
 <section id="map-scrolly">

  <!-- define the scroll sections -->
  <% const blocks=
    [
      { 
        "filename" : "map_early" , 
        "anno" : "tracing the maps" 
      }, 
      { 
        "filename" : "map_final" , 
        "anno": "readers club @ kottayam" 
      }
    ] 
  %>

  <!-- include the component -->
  <%- include('./scrolly/scrolly.ejs', {id: "map-scrolly" , blocks: blocks }); %>
</section>
    </article>
  </main>
</body>


</html>