<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/styles.css">
  <script type="module" src="script/app.js"></script>
  <title>Schematic Cartography</title>
</head>

<body>
  <main>
    <article>
     
      <section id="section" class="intro">
        <div class="container">
          <div class="row title">
            <div class="col-12">
              <h1 class="display-3">Schematic Cartography</h1>
            </div>
          </div>
          <div class="row bio">
            <div class="col-12">
              <p id ="border" class="border-start border-secondary border-3 ">
                Kottayam is the place with the first printing press in Kerala. It's called Akshara Nagari, the city of letters. This map will be a guide to bookstalls, libraries, etc. and maybe the 1 or 2 cafes or parks where you could sit n read and the railway station nearby because train travel mandates a book!
              </p>
            </div>
            <div class="author">
              <h6 class="display-24" >by Jeena Philip</h6>
            </div>
          </div>
        </div>
      </section>
    <section id="scroll">
      <Div id="scroll-anim" style="width: 2em; height: 2em; background-color: transparent; z-index: 80; 
            bottom: 25px; position: absolute; border-width: 0 0.25em 0.25em 0; border-style: solid; border-color: rgb(7, 7, 7); animation: scrolldown 1.2s ease-in-out infinite 0.15s;"></Div>
            <Div id="scroll-anim" style="width: 2em; height: 2em; background-color: transparent; z-index: 80; 
            bottom: 40px; position: absolute; border-width: 0 0.25em 0.25em 0; border-style: solid; border-color: rgb(61, 61, 61); animation: scrolldown 1.2s ease-in-out infinite;"></Div>
 </section>
 <!-- scrolly -->
 <section id="map-scrolly">

  <!-- define the scroll sections -->
  <% const blocks=
    [
      { 
      "filename" : "img_1" , 
      "anno" :"img"
      }, 
      { 
        "filename" : "map_early" , 
        "anno" : "tracing the maps" 
      }, 
      { 
        "filename" : "map_abstract" , 
        "anno" : "abstracting the traced map" 
      }, 
      { 
        "filename" : "map_schema" , 
        "anno" : "creating a schematic map" 
      }, 
      { 
        "filename" : "map_roads" , 
        "anno": "road network" 
      },
      { 
        "filename" : "map_final" , 
        "anno": "readers club @ kottayam" 
      }
    ] 
  %>

  <!-- include the component -->
  <%- include('./scrolly/scrolly.ejs', {id: "map-scrolly" , blocks: blocks }); %>
</section>
    </article>
  </main>
</body>


</html>